.popup-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.payment-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
